/* fonts */

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Regular.ttf');
  }

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Black.ttf');
    font-weight: bolder;
  }

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-LightItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Light.ttf');
    font-weight: lighter;
}


/*universal*/

*{
    padding:0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

h1{
    font-size: 48px;
    font-weight: bolder;
}

h2{
    font-size: 36px;
}

/*navigation-bar*/
#navigation-bar{
    background-color: rgba(0, 0, 0, 0.87);
    padding: 20px;
    display: flex;
    width:100%;
    top:0;
    position: sticky;
    justify-content: space-between;
    box-sizing: border-box;
}

.left-links, .right-links{
    display: flex;
    align-items:center;
}

.left-links{
    justify-content: flex-start;
    gap: 40px;
}

.right-links{
    
    gap: 20px;
}
#navigation-bar, a{
    color:#F9FAF8;
    font-weight: bold;
    text-decoration: none;
}

#navigation-bar, a:hover{
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

/*join-page*/

#join-page{
    background-color: white;
    min-height: 300px;
    padding: 20px;
    margin: 100px 200px 100px 200px;
    display: flex;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    font-weight: bolder;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
}

.sub-text, ul{
    font-size: 18px;
    color: black; 
}

.placeholder{
    height: 200px;
    display: block;
}

.main-content{
    padding-right: 150px;
}

.sign-up{
    background-color: #2e629e;
    font-weight: bold;
    font-size: 18px;
    color:#F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 8px 32px;
    margin-top: 16px;
}

.sign-up:hover {
    background-color: #5cadbb
}
/* about page*/
#about-page{
    background-color: rgb(190, 197, 211);
    min-height: 300px;
    padding: 150px 200px;
}
#about-us{
    color: rgba(0, 0, 0, 0.842);
}

/*club-page*/

#club-page{
    background-color: rgba(0, 0, 0, 0.87);;
    min-height: 300px;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.information-header{
    font-size: 36px;
    font-weight: 1000;
    color: rgba(255, 255, 255, 0.884);
    margin-bottom: 15px;
}

.images-and{
    color:#c7d0db;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    }

.images-and li{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    
}

.mini-placeholder{
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 15px;    
}

#resources{
    background-color: rgb(40, 107, 184);
    min-height: 300px;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resources{
    list-style-type: none;
    color: rgba(255, 255, 255, 0.671);
    display: flex;
    gap: 15px;
}

.res-link{
    border: solid 1px;
    background-color: rgb(82, 152, 192);
    padding: 15px;
    width: 200px;
    height: 100px;
    border-radius: 6px;
}

.resources-text{
    color: rgba(255, 255, 255, 0.801);
    font-weight: 100;
    margin-bottom: 20px;
}

#resources-header{
    margin:0;
}

#contact{
    background-color: white;
    height: 200px;
    padding: 150px 400px 150px 150px;
}

#contact-header{
    color:rgba(0, 0, 0, 0.87)
}

#footer{
    background-color: rgba(0, 0, 0, 0.87);;
    min-height: 30%;
    padding: 20px;
    display: flex;
    gap: 40px;
    color:white;
    justify-content: center;
}



/*
.container {
    position: relative;
    width: 50%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  */